#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/studio.h>
&studio_unlock
default_layer {
    bindings = <
        &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y
        &kp A       &kp S       &kp D       &kp F       &kp G       &kp H
        &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N

        &kp LGUI   &kp SPACE   &kp TAB   &studio_unlock
    >;
};
